/* Outfit - Variable font (100-900) */
@import '@fontsource/outfit/400.css';
@import '@fontsource/outfit/500.css';
@import '@fontsource/outfit/600.css';
@import '@fontsource/outfit/700.css';

/* Libre Baskerville - Regular, Italic, Bold */
@import '@fontsource/libre-baskerville/400.css';
@import '@fontsource/libre-baskerville/400-italic.css';
@import '@fontsource/libre-baskerville/700.css';
