---
import type { Block, RichTextBlock as RichTextBlockType, CodeBlock as CodeBlockType, ImageBlock as ImageBlockType } from '../../lib/blocks/types'
import RichTextBlock from './richtext-block.astro'
import CodeBlock from './code-block.astro'
import ImageBlock from './image-block.astro'

interface Props {
	blocks: Block[]
}

const { blocks } = Astro.props

if (!blocks || !Array.isArray(blocks)) {
	console.warn('BlockRenderer: blocks prop is not an array', blocks)
}
---

<div class="blocks-content">
	{blocks && blocks.map((block) => {
		switch (block.type) {
			case 'richtext':
				return <RichTextBlock block={block as RichTextBlockType} />

			case 'code':
				return <CodeBlock block={block as CodeBlockType} />

			case 'image':
				return <ImageBlock block={block as ImageBlockType} />

			default:
				console.warn(`Unknown block type: ${block.type}`)
				return null
		}
	})}
</div>
